h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 2rem;
    background: #4aaaa5;
    padding: 5px;
    color:#ffffff;
}

body{
    background-image: url("../Images/regal.png");
}

h2{
    color:#4aaaa5;
}

.profile{
    float: left;
    padding:10px;
}

footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 50px;
    width: 100%;
    color:#ffffff;
    border-top: 20px solid #4aaaa5;
    text-align: center;
    background-color: #666666; 
}

.card-title{
    background-color: navy;
    color: white;
    width:50px;
}

.form-group[type=text]{
    width: 100% !important;

}

form{
    width:100%;
    flex-wrap: nowrap;
}

img{
    padding: 5px;
   
}
.card-img-overlay{
    position: absolute;
    bottom: auto;
}

.section{
    font-family: ‘Arial’, ‘Helvetica Neue’, Helvetica, sans-serif;
    background-color:#f8f8f8;
    border: 5px #dddddd;
    width: 1080px;
    margin: auto;
    height: 100%;
    color: #858080;
    font-size: 18px;
    z-index: -1;
}

.prname{
    position: relative;
    top: 200px;
    width: 100%;
    padding: 20px;
    background-color: navy;
    color: #ffffff;
    text-align: center;
    margin-bottom: -58px;
 }
 
 .container{
     padding: 30px;
 }